.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  /* border: 5px solid #282c34; */
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* forces layer to bottom */
}